<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Node & Express Demo</title>
    <link rel="stylesheet" href="/stylesheets/rtsc-css.css">
    <%# <link rel="stylesheet" href="/stylesheets/bootstrap.css">%>
  </head>
  <body>
