<%- include('./partials/header') %>

<h1> Node & Express Demo </h1>

<%#
Directory: `${__dirname}/public/images/business_shibe.jpg`
URL: `http://localhost:4545/images/business_shibe.jpg`
%>
<img src="images/business_shibe.jpg" />

<%- include('./partials/footer') %>
