<%- include('../partials/header') %>
<h1>Posts</h1>

<div class="post-list">
<% for (let post of posts) { %>
  <div>
    <a href="<%= `/posts/${post.id}` %>"><%= post.title %></a>
  </div>
<% } %>
</div>

<%- include('../partials/footer') %>
